# Development Tooling
.idea/
.vscode/
.claude/

# Dependencies
/vendor/

# Executable Binaries & Scripts
/bin/*

# Locals
/.local/
/.cache/
/.config/
/.data/
/.state/

*.local.*
.worktreeinclude

# Go workspace file
go.work
go.work.sum

# Environment variables
.env

