# Development Tooling
.idea/
.vscode/
.claude/

# Git Worktrees
.worktreeinclude

# Executable Binaries & Scripts
/bin/*

# Locals
/.local/
*.local.*

# XDG
/.cache/
/.config/
/.data/
/.run/
/.share/
/.state/

# Environment Variables
*.env

# Go Dependencies
/vendor/

# Go Workspace
go.work
go.work.sum
